@use '../utilities/' as u;

header {
	position: sticky;
	top: 0;
	z-index: 11;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1rem;
	box-shadow: u.$shadow;
	background: rgba(255, 255, 255, 0.5);
	// backdrop-filter: blur(7px); // @fix issue with menu navigation

	@include u.mq('xlarge') {
		width: min(100% - 2rem, 80rem);
		margin-inline: auto;
		padding: 1rem 0;
		box-shadow: unset;
	}
}

.logo {
	font-size: var(--fs-200);
	font-weight: bold;
	letter-spacing: 1px;
	color: var(--dark);
	span {
		color: u.$brand-color;
	}
	z-index: 10;
	@include u.mq('xlarge') {
		font-size: var(--fs-300);
	}
}
