@use '../utilities/' as u;

.navigation {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: saturate(180%) blur(20px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: u.$transition;
	&.active {
		left: 0;
	}
	ul {
		position: relative;
		li {
			position: relative;
			text-align: center;
			margin-bottom: 2em;
		}
		li a {
			font-size: var(--fs-400);
			color: var(--dark);
		}
	}
	.social-bar {
		ul {
			@include u.flexCenter(row);
		}
		a {
			display: inline-block;
			transform: scale(0.5);
		}
	}
	@include u.mq('xlarge') {
		all: unset;
		ul {
			display: flex;
			align-items: center;
			gap: 1rem;
			li {
				all: unset;
			}
			li a {
				font-size: var(--fs-100);
				color: var(--dark);
				&:hover,
				&:active {
					color: var(--primary);
				}
			}
		}
		.social-bar {
			display: none;
			// position: absolute;
			// bottom: 2rem;
			// right: 15em;
		}
	}
}
.toggle {
	cursor: pointer;
	background-color: var(--primary);
	width: 60px;
	height: 60px;
	z-index: 10;
	> * {
		display: block;
		width: 32px;
		height: 3px;
		background-color: var(--white);
		margin: 3px;
		transition: u.$transition;
	}
	&.active {
		.line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}
		.line2 {
			opacity: 0;
		}
		.line3 {
			transform: rotate(45deg) translate(-5px, -6px);
		}
	}

	@include u.mq('xlarge') {
		display: none;
	}
}
