@use '../utilities/' as *;
//todo section class
section {
	min-height: 90vh;
	padding-top: 2em;
}

.home {
	@include flexCenter;
	&-content {
		max-width: 42em;
	}
	h1 {
		font-size: var(--fs-500);
		max-width: 12em;
	}
	p {
		font-size: var(--fs-50);
		margin-bottom: 2rem;
	}

	@include mq('xlarge') {
		flex-direction: row;
		justify-content: space-between;
		&-content {
			max-width: unset;
		}
		h1 {
			line-height: 1.2;
		}
		p {
			font-size: var(--fs-100);
			max-width: 40rem;
		}
		.home-img {
			height: 100%;
			@include mq('xlarge') {
				scale: 1.2;
			}
		}
	}
}

.services {
	p {
		max-width: 42em;
		text-align: center;
		margin-inline: auto;
	}
	.services-cards {
		padding-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.5rem;
		text-align: center;
		.card {
			display: grid;
			place-items: center;
			padding: 2em;
			background: var(--gray-100);
			border-radius: $bd-radius;
		}
		img {
			max-width: 100px;
		}
		@include mq('large') {
			grid-template-columns: repeat(2, 1fr);
		}
		@include mq('xlarge') {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

#contact {
	height: 100vh;
}

/* section title */
.section-title {
	text-align: center;
	margin-bottom: 1.2em;
	@include pseudo($loc: after, $top: null, $bottom: -0.5rem) {
		background-color: var(--secondary);
		width: 3em;
		height: 0.25rem;
		margin: 0 auto;
	}
}
