@use '../utilities/' as *;
//todo section class
section {
	min-height: 90vh;
}

.home {
	@include flexCenter;
	&-content {
		max-width: 42em;
	}
	h1 {
		font-size: var(--fs-500);
		max-width: 12em;
	}
	p {
		font-size: var(--fs-50);
		margin-bottom: 2rem;
	}

	@include mq('xlarge') {
		flex-direction: row;
		&-content {
			max-width: unset;
		}
		h1 {
			line-height: 1.2;
		}
		p {
			font-size: var(--fs-100);
			max-width: 40rem;
		}
		.home-img {
			height: 100%;
			@include mq('xlarge') {
				scale: 1.2;
			}
		}
	}
}

/* section title */
.section-title {
	text-align: center;
	margin-bottom: 1.2em;
	@include pseudo($loc: after, $top: null, $bottom: -0.5rem) {
		background-color: var(--secondary);
		width: 3em;
		height: 0.25rem;
		margin: 0 auto;
	}
}
