@use '../utilities/' as *;

// container
.container {
	width: min(100% - 2rem, $max-width);
	margin-inline: auto;
}

figure {
	border: 4px solid var(--secondary);
	border-radius: $bd-radius;
	max-width: $max-width;
	box-shadow: $shadow-lg;
}

// flex center
.flex-row {
	@include flexCenter(row);
}
.flex-column {
	@include flexCenter();
}
// grid center
.center-content {
	display: grid;
	place-content: center;
	height: 100%;
}

.text-center {
	text-align: center;
}

// .home-img {
// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// 	width: 600px;
// 	height: 90%;
// 	z-index: -1;
// }
